/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  padding:4px;
}

h1 {
  margin-top:0;
}

#account {
  float:right;
}

#navigation {
  position:fixed;
  left: 0;
  margin: 0;
  padding: 0;
  width: 8em;
  background: #ddd;
  border-right: 1px solid black;
}

#navigation div {
    margin-bottom: 0.5em;
}

#navigation a.current_activity {
    font-weight: bold;
    color: black;
    text-decoration: none;
    border: 1px solid blue;
}

div#activity {
    margin-left: 8em;  /* This needs to match the width of the #navigation */
}

#profile {
  border:4px solid #edd;
  background:#fee;
  padding:8px;
  margin-bottom:8px;
}


/* The item and customer detail */
.itemdetail {
  border: 2px solid #dde;
  background: #aaf;
  float: right;
  padding: 10px;
  width: 30%;
  margin: 2px;
}

.itemdetail li {
  list-style-type:none;
  margin-top: 4px;
}

.itemdetail li span {
  display: inline-block;
  width: 50%;
}

/* The item and customer lists */
.itemlist {
  border: 4px solid #dde;
  background: #eef;
  padding: 8px;
  width: 60%;
  float: left;
}

.itemlist lh {
  border-bottom:1px solid black;
  font-weight: bold;
}

.itemlist .selected {
  background: yellow;
}

.itemrow {
  border-bottom:1px solid black;
  padding:4px;
  margin: 4px;
  list-style-type:none
}

.itemrow span {
  display: inline-block;
  width: 20%;
}

.itemrow span.editremove {
  float:right;
}

lh.itemrow {
  margin-bottom:4px;
}

.listheader {
  border-bottom:1px solid black;
  font-weight: bold;
}

#sidebar {
  border:4px solid #dfd;
  padding:8px;
  float:right;
  width:30%;
}


form {
  padding:4px;
  margin:6px;
  background-color:#ddd;  
}

/* the parts of the item transaction form */
div.orderwidget span {
  display: inline-block;
  width: 10em;
}

div.orderwidget.invalid {
    border: 1px solid red;
}

/* div.orderwidget.invalid span:first-child {
    border-left: 2px solid red;
}
div.orderwidget.invalid span:last-child {
    border-right: 2px solid red;
}

div.orderwidget.invalid span {
    border-top:2px solid red;
    border-bottom:2px solid red;
} */

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}

#popup_background {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.7;
  border:1px solid #cecece;
  z-index: 1;
}

.popup_dialog {
  display: none;
  position: fixed;
  background: #ffffff;
  border: 2px solid #cecece;
  z-index: 2;
  padding: 12px;
  font-size: 13px;
}

.popup_dialog.warning {
    border-color: black;
    background: red;
    padding: 3em;
}

.confirmPopup h1 {
  text-align: left;
  color: #6fa5fd;
  width: 40%
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px dotted #d3d3d3;
  padding-bottom: 2px;
  margin-bottom: 20px;
}

.confirmPopup input {
  text-align: center;
  margin: 100px;
}

div.itemlistwidget ul li {
  border-bottom:1px solid black;
  padding:4px;
  margin: 4px;
  list-style-type:none
}

div.itemlistwidget ul span {
  display: inline-block;
  width: 20%;
}

div.itemlistwidget ul span.inc-dec-buttons {
  display: inline-block;
  width: 6em; /* Should be the same width as 3 of the img below */
}

div.itemlistwidget ul span.count {
  display: inline-block;
  width: 6em; 
}

div.itemlistwidget ul img {
  padding-top: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  width: 1.2em;
  height: 1.2em;
}

div.itemlistwidget ul li.unknown_item {
  background-color: #FF5050;
}

/* For the picklists */

div.picklist div.name-addr {
/*    float: left;
    padding-right: 2em; */
    display: inline-block;
    vertical-align: top;
}
div.picklist div.box-and-phone {
/*    float: right; */
    display: inline-block;
    vertical-align: top;
}
div.picklist ul.orders > li {
  border-bottom: 1px solid black;
}
div.picklist span {
    padding-left: 1em;
    padding-right: 1em;
}
